/*Schrijf hier jouw CSS*/

/*Schrijf hier jouw CSS*/
body {
    min-height: 400px;
    display: flex;
}

.col-2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

nav {
    min-width: 20%;
    flex-shrink: 0;
}

header {
    /*flex-basis: 10%;*/
    /*min-height: 10%;*/
    flex-grow: 1;
    flex-shrink: 0;
    /*background-color: red;*/
}
main {
    /*height: 100vh;*/
    /*display: flex;*/
    flex-grow: 5;
    /*flex-shrink: 0;*/
    display: flex;
    flex-direction: column;
}

article {
    /*height: 100vh;*/
    flex-grow: 1;
    /*flex-basis: 60%;*/
    /*order: 1;*/
    /*flex-basis: 60%;*/
    /*flex-shrink: 0;*/
}

footer {
    /*flex-basis: 20%;*/
    flex-grow: 1;
    flex-shrink: 0;
}